#bgscreen {
    background-image: url("./img/screenBG.png");
    background-size: cover;
    height: 781px;
    width: 1367px;

}

#start-button {
    font-size: 50px;
    color: white;
    background-color: #99CC33;
    padding: 10px 40px;
    border-radius: 20px;
    margin-left: 760px;
    margin-top: 575px
}

#opt1 {
    position: absolute;
    color: white;
    background-color: #5e3c2e;
    text-align: justify;
    margin-top: 565px;
    margin-left: 80px;
    padding-top: 0px;
}

#opt2 {
    position: absolute;
    color: white;
    background-color: #5e3c2e;
    text-align: justify;
    margin-top: 680px;
    margin-left: 80px;
    padding-top: 0px;
}